/* GENERAL SETTINGS */


::selection {
    color: var(--selection-color);
    background-color: var(--selection-bg);
}

::-moz-selection {
    color: var(--selection-color);
    background-color: var(--selection-bg);
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-track {
    border-radius: 10rem;
    background-color: var(--scrollbar-track-bg);
    border-width: 2px;
    border-style: solid;
    border-color: var(--scrollbar-track-border);
}

::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-clip: content-box;
    background-color: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-bg-hover);
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--family-primary);
    background-color: var(--body-bg);
    overflow-x: hidden;
    overflow-y: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.text-danger {
    color: var(--danger) !important;
}

.text-theme-primary {
    color: var(--theme-primary) !important;
}

.btn-1 {
    background-color: var(--btn-1-bg);
}

.btn-1:hover {
    background-color: var(--btn-1-hover) !important;
}

.btn-2 {
    background-color: var(--btn-2-bg);
}

.btn-2:hover {
    background-color: var(--btn-2-hover) !important;
}

.btn-3 {
    background-color: var(--btn-3-bg);
}

.btn-3:hover {
    background-color: var(--btn-3-hover) !important;
}

.hr-line {
    width: 100%;
    height: 1px;
    background-color: var(--dark-primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* FLEX SETTINGS */
.row {
    display: flex;
}

.row-adjacent {
    display: flex;
    align-items: center;
}

.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
}

.row-space {
    display: flex;
    justify-content: space-between;
}

.row-space-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-space-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-space-center-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row-right {
    margin-left: auto;
}

.row-left {
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2 {
    flex-basis: 100%;
}

.col-3 {
    flex-basis: 100%;
}

.col-4 {
    flex-basis: 100%;
}

.col-5 {
    flex-basis: 100%;
}

.col-6 {
    flex-basis: 100%;
}

.col-7 {
    flex-basis: 100%;
}

.col-8 {
    flex-basis: 100%;
}

.col-9 {
    flex-basis: 100%;
}

.col-10 {
    flex-basis: 100%;
}

/* Loader Settings */

.loader {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--loader-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
}

.loader.loading {
    opacity: 0 !important;
    visibility: hidden !important;
    -webkit-transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.loader.disable {
    display: none !important;
}

.loader-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.loader-brand,
.loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.loader-brand {
    width: 100px;
    height: 100px;
}

.loader-circle {
    width: 110px;
    height: 110px;
}

.loader-circle {
    border-width: 3px;
    border-style: solid;
    border-color: var(--loader-circle-color);
    -webkit-animation-name: loading;
    -moz-animation-name: loading;
    -o-animation-name: loading;
    animation-name: loading;
    -webkit-animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
    -o-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.circle-one {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    -o-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.circle-two {
    -webkit-animation-delay: -0.3s;
    -moz-animation-delay: -0.3s;
    -o-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.circle-three {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

@-webkit-keyframes loading {
    100% {
        width: 20rem;
        height: 20rem;
        border-color: transparent;
    }
}

@-moz-keyframes loading {
    100% {
        width: 20rem;
        height: 20rem;
        border-color: transparent;
    }
}

@-o-keyframes loading {
    100% {
        width: 20rem;
        height: 20rem;
        border-color: transparent;
    }
}

@keyframes loading {
    100% {
        width: 20rem;
        height: 20rem;
        border-color: transparent;
    }
}

/* NAVBAR SETTINGS */
.navbar {
    z-index: 7777;
    position: fixed;
    top: 0px;
    height: 100%;
    background-color: var(--nav-bg);
    overflow-y: scroll;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.navbar-default {
    left: -100%;
}

.navbar-default.toggler-active {
    left: 0px !important;
}

@media only screen and (max-width: 992px) {
    .navbar-default.toggler-active {
        width: 100% !important;
    }
}

.navbar-top {
    position: relative;
    display: flex;
    align-items: center;
    height: 10%;
}

.navbar-mobile-close-toggler {
    position: absolute;
    left: 1.5rem;
    font-size: 3rem;
    color: var(--mobile-toggler-color);
    cursor: pointer;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand-text,
.home-panel-text {
    color: var(--navbar-brand-color);
}

.navbar-brand-text {
    font-size: 2rem;
}

.home-panel-text {
    font-size: 1.2rem;
}

.navbar-nav {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.user-profile-mobile {
    display: block;
}

.nav-title {
    display: block;
    font-size: 1.2rem;
    color: var(--nav-title-color);
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.nav-link {
    display: block;
    font-size: 1.2rem;
    color: var(--nav-link-color);
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.nav-link:hover {
    background-color: var(--nav-link-bg-hover);
}

.dropdown-toggler {
    display: flex !important;
    align-items: center;
    cursor: pointer;
}

.dropdown-toggler-icon {
    font-size: 1.6rem;
    color: var(--nav-link-color);
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.dropdown-toggler-icon.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dropdown-menu {
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.dropdown-menu.active {
    height: auto !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.dropdown-link {
    padding-left: 2rem !important;
}

/* ADMIN PANEL SETTINGS */
.admin-panel {
    z-index: 6666;
    height: auto;
    position: absolute;
    background-color: var(--admin-panel-bg);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.admin-panel-default {
    left: 0;
    width: 100%;
}

/* HEADER SETTINGS */
header {
    z-index: 7777;
    min-height: 10vh;
    position: sticky;
    top: 0;
    background-color: var(--header-bg);
    box-shadow: var(--header-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.navbar-desktop-toggler {
    display: none;
}

.hamburger-toggler {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--menu-toggler-color);
    cursor: pointer;
}

.hamburger-line {
    width: 2.5rem;
    height: 0.5rem;
    background-color: var(--hamburger-bg);
}

.hamburger-line:not(:last-child) {
    margin-bottom: 0.5rem;
}

.btn-header {
    height: 90%;
    background-color: var(--btn-header-bg);
    margin-left: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-header-text {
    font-size: 1.3rem;
    color: var(--btn-header-text-color);
    margin-right: 0.7rem;
}

.btn-header-icon {
    height: 2rem;
    width: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-header-icon-bg);
    border-radius: 50%;
}

.user-profile {
    display: none;
}

/* MAIN SETTINGS */
main {
    min-height: 85vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
}

.notification {
    z-index: 8889;
    max-width: 60%;
    position: absolute;
    top: 100%;
    left: 50%;
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    opacity: 1;
    visibility: visible;
}

.notification.hidden {
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
}

.notification.removed {
    display: none;
}

.not {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.not-success {
    background-color: var(--not-success-bg);
}

.not-danger {
    background-color: var(--not-danger-bg);
}

.not-text {
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--not-text-color);
}

.table-filter-container {
    position: relative;
}

.main-title {
    font-size: 1.7rem;
    color: var(--main-title-color);
    line-height: 1.7;
}

.second-title {
    font-size: 1.5rem;
    color: var(--main-title-color);
    line-height: 1.5;
}

.filter-container {
    height: 3rem;
}

.filter-container:not(:first-child) {
    margin-left: 2rem;
}

.table-search {
    flex-basis: 85%;
    height: 3rem;
    font-size: 1.3rem;
    background-color: var(--table-search-bg);
    color: var(--table-search-color);
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.table-search:focus {
    outline: 0;
}

.table-search::placeholder {
    font-size: 1.3rem;
    color: var(--table-search-color);
    opacity: 0.4;
}

.table-search::-moz-placeholder {
    font-size: 1.3rem;
    color: var(--table-search-color);
    opacity: 0.4;
}

.table-search::-webkit-input-placeholder {
    font-size: 1.3rem;
    color: var(--table-search-color);
    opacity: 0.4;
}

.btn-table-search {
    flex-basis: 15%;
    height: 3rem;
    background-color: var(--btn-table-search-bg);
    border: none;
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table-search-icon {
    font-size: 1.3rem;
    color: var(--btn-table-search-color);
}

.tree {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tree-guide {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--tree-guide-color);
    text-decoration: underline;
}

.seperater {
    font-size: 1.2rem;
    color: var(--tree-guide-color);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.filter-select {
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.4rem;
    font-size: 1.2rem;
    background-color: var(--filter-select-bg);
    color: var(--filter-select-color);
    border: none;
    outline: 0;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter-select-text {
    color: #fff;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--theme-primary);
}

.price-filter {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 55%;
    width: 45%;
    visibility: hidden;
    opacity: 0;
    box-shadow: var(--price-filter-box-shadow);
    background-color: var(--price-filter-bg);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.price-filter.active {
    height: auto !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.filter-toggler {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--filter-toggler-bg);
    color: var(--filter-toggler-color);
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.filter-toggler:hover {
    background-color: var(--filter-toggler-hover);
}

.filter-toggler-icon {
    margin-right: 0.5rem;
}

.price-container {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.price-container:not(:last-child) {
    margin-bottom: 2rem;
}

.price-text {
    color: var(--filter-price-color);
}

.price-input {
    background-color: var(--price-input-bg);
    color: var(--price-input-color);
    width: 20%;
    height: 2rem;
    border: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.price-input:focus {
    outline: 0;
}

.price-number {
    padding-left: 0.5rem;
}

.price-range {
    width: 100%;
    margin-left: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    background-color: var(--price-range-bg);
}

.price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--slider-thumb-bg);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.price-range::moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--slider-thumb-bg);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.price-bot-text {
    color: var(--price-bot-text-color);
}

.btn-price {
    font-size: 1.2rem;
    border: none;
    color: var(--btn-price-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

th,
td {
    font-size: 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--table-border);
}

th {
    color: var(--th-color);
}

.table-align-center {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.table-align-left {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.btn-purify {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-desc {
    color: var(--btn-desc-color);
}

.btn-asc {
    color: var(--btn-asc-color);
}

.sort-icon {
    font-size: 2rem;
    opacity: 0.6;
}

.sort-icon.selected {
    opacity: 1;
}

.th-space {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.table-no-space {
    text-align: center;
}

.table-image {
    width: auto;
    height: 6rem;
    max-height: 6rem;
}

td.desc {
    background-color: var(--td-desc-bg);
}

td.asc {
    background-color: var(--td-asc-bg);
}

.btn-setting-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-setting {
    display: block;
    width: 100%;
    height: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--btn-setting-color);
    font-size: 1.1rem;
    cursor: pointer;
}

.pagination-link {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: var(--pagination-bg);
    color: var(--pagination-color);
    font-size: 1.2rem;
}

.pagination-link:not(:last-child) {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--pagination-border);
}

.pagination-link.selected {
    background-color: var(--pagination-selected) !important;
}

.notfound-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--notfound-box-shadow);
    border-radius: 5px;
}

.text-notfound {
    display: block;
    font-size: 1.4rem;
    color: var(--danger);
    margin-bottom: 2rem;
}

.btn-notfound {
    background-color: var(--btn-header-bg);
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.delete-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background-color: var(--delete-popup-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-popup.disable {
    display: none;
}

.confirm-box {
    position: relative;
    background-color: var(--confirm-box-bg);
    width: 40%;
    height: 40%;
    border-radius: 5px;
}

.confirm-title-container {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.confirm-title {
    font-size: 1.6rem;
}

.confirm-title-danger {
    color: var(--confirm-title-danger-color);
}

.confirm-title-wanring {
    color: var(--confirm-title-wanring-color);
}

.confirm-btns {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-popup {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--btn-popup-color);
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-popup:not(:last-child) {
    margin-right: 3rem;
}

.btn-delete.disable {
    display: none !important;
}

.insale-icon {
    font-size: 1.6rem;
    color: var(--success);
}

.outsale-icon {
    font-size: 1.6rem;
    color: var(--danger);
}

input {
    border: none;
}

.form-input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--form-input-bg);
    color: var(--form-input-color);
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
}

.form-input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--theme-primary);
}

.form-input::placeholder {
    color: var(--form-input-color);
    opacity: 0.6;
}

.form-checkbox {
    background-color: var(--form-input-bg);
    padding-left: 1rem;
}

.input-danger::placeholder {
    color: var(--danger) !important;
    opacity: 0.7 !important;
}

.checkbox {
    display: none;
}

.checkmark {
    position: relative;
    display: inline-block;
    margin-top: 0.35rem;
    height: 20px;
    width: 20px;
    background-color: var(--theme-secondary);
    cursor: pointer;
}

.checkbox:checked~.checkmark::after {
    content: "";
    position: absolute;
    display: block;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border-style: solid;
    border-color: var(--light-primary);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.label-checkbox {
    cursor: pointer;
}

.checkmark-text {
    font-size: 1.1rem;
    color: var(--action-form-color);
    line-height: 2.5rem;
    vertical-align: top;
    margin-left: 0.2rem;
}

.table-select {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    background-color: var(--form-input-bg);
    color: var(--form-input-color);
    border: none;
    outline: 0;
}

.item-images-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.item-image-container {
    flex-basis: 33.3333%;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--table-border);
}

.image-label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 10rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-label-text {
    font-size: 1.2rem;
    color: var(--image-label-text-color);
    margin-bottom: 1rem;
}

.uploaded-image {
    width: 33.33%;
    height: auto;
}

.upload-image-icon-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.upload-image-icon {
    font-size: 3rem;
    opacity: 0.2;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.image-label:hover .upload-image-icon {
    opacity: 1 !important;
}

.item-image-input {
    display: none;
}

#item_images_container-extra {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.image-error-container {
    margin-bottom: 1rem;
}

.image-error {
    font-size: 1.1rem;
    color: var(--danger);
}

.clon-image {
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--clon-image-bg);
    color: var(--clon-image-color);
}

.clon-image.disable {
    display: none !important;
}

.remove-clon-image {
    font-size: 1.1rem;
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--remove-clon-image-bg);
    color: var(--remove-clon-image-color);
    margin-top: 1rem;
}

.remove-clon-image.disable {
    display: none !important;
}

.btn-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--btn-form-color);
    font-size: 1.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}

.btn-form {
    display: inline-block;
    text-align: center;
    width: 100%;
    border: none;
    color: var(--btn-form-color);
    font-size: 1.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

.btn-form.disable {
    display: none !important;
}

.form-success-uploading {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--success);
}

.form-success-uploading.disable {
    display: none !important;
}

.text-deleting {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--danger);
}

.text-deleting.disable {
    display: none !important;
}

.item-stars {
    margin-top: 1rem;
}

.item-star,
.item-star-half {
    font-size: 1.4rem;
    color: var(--item-star-color);
    margin-right: 0.3rem;
}

.item-star.checked,
.item-star-half.checked {
    color: var(--item-star-checked) !important;
}

.notfound-mini-text {
    font-size: 1.2rem;
    color: var(--danger);
}

:root {
    --danger: #ca0101;
    --warning: #beab00;
    --success: #00b487;
    --hover-danger: #ca0101c7;
    --hover-warning: #beab00ce;
    --hover-success: #10b68dd7;
    --btn-1-bg: var(--success);
    --btn-1-hover: var(--hover-success);
    --btn-2-bg: var(--warning);
    --btn-2-hover: var(--hover-warning);
    --btn-3-bg: var(--danger);
    --btn-3-hover: var(--hover-danger);
    /* Selection */
    --selection-color: #ffffff;
    --selection-bg: #6466ec;
    --scrollbar-bg: #181818;
    /* Scrollbar */
    --scrollbar-track-bg: #181818;
    --scrollbar-track-border: #01010133;
    --scrollbar-thumb-bg: #848494;
    --scrollbar-thumb-bg-hover: #c8c8d0;
    /* Font Family */
    --family-primary: sans-serif;
    /* Body */
    --body-bg: #ffffff;
    /* Loader */
    --loader-bg: #000000;
    --loader-circle-color: #ffffff;
    /* NAVBAR */
    --nav-bg: #000000;
    --mobile-toggler-color: #ffffff;
    --menu-toggler-color: #000000;
    --navbar-brand-color: #ffffff;
    --nav-title-color: #6466ec;
    --nav-link-color: #ffffff;
    --nav-link-bg-hover: #2c3344d5;
    /* PANEL */
    --admin-panel-bg: #ffffff;
    /* HEADER */
    --header-bg: #ffffff;
    --header-box-shadow: 0 1px 25px rgb(0 0 0 / 20%);
    --hamburger-bg: #000000;
    --btn-header-bg: #000000;
    --btn-header-text-color: #ffffff;
    --btn-header-icon-bg: #6466ec;
    --profile-menu-bg: #000000;
    --profile-menu-color: #ffffff;
    --profile-menu-hover: #2c3344d5;
    /* MAIN */
    --not-text-color: #ffffff;
    --not-success-bg: var(--success);
    --not-danger-bg: var(--danger);
    --main-title-color: #6466ec;
    --table-search-bg: #000000;
    --table-search-color: #ffffff;
    --btn-table-search-bg: #6466ec;
    --btn-table-search-color: #ffffff;
    --tree-guide-color: #000000;
    --table-border: #dddddd9d;
    --th-color: #6466ec;
    --btn-desc-color: var(--danger);
    --btn-asc-color: var(--success);
    --td-desc-bg: #ca010110;
    --td-asc-bg: #00b48718;
    --btn-setting-color: #ffffff;
    --pagination-bg: #000000;
    --pagination-color: #ffffff;
    --pagination-border: #ffffff;
    --pagination-selected: #6466ec;
    --notfound-box-shadow: 0 1px 25px rgb(0 0 0 / 20%);
    --delete-popup-bg: rgba(0, 0, 0, 0.779);
    --confirm-box-bg: #ffffff;
    --confirm-title-danger-color: var(--danger);
    --confirm-title-warning-color: var(--warning);
    --btn-popup-color: #ffffff;
    --filter-toggler-bg: #000000;
    --filter-toggler-color: #ffffff;
    --filter-toggler-hover: #2c3344d5;
    --price-filter-bg: #ffffff;
    --price-filter-box-shadow: 0px 4px 12px rgb(0 0 0 / 12%), 0px 0px 2px rgb(0 0 0 / 8%);
    --filter-price-color: #000000;
    --price-input-bg: #000000;
    --price-input-color: #ffffff;
    --price-range-bg: #000000;
    --slider-thumb-bg: #6466ec;
    --btn-price-color: #ffffff;
    --price-bot-text-color: #6466ec;
    --filter-title-color: #6466ec;
    --filter-select-bg: #000000;
    --filter-select-color: #ffffff;
    --btn-filter-color: #ffffff;
    --form-input-bg: #ffffff;
    --form-input-color: #000000;
    --image-label-text-color: #000000;
    --clon-image-bg: #000000;
    --clon-image-color: #ffffff;
    --remove-clon-image-bg: var(--danger);
    --remove-clon-image-color: #ffffff;
    --btn-form-color: #ffffff;
    --item-star-color: #aaaaaa;
    --item-star-checked: #ffa500;
    --comment-checkmark-text-color: #ffffff;

    /* FOOTER */
    --footer-bg: #000000;
    --footer-text-color: #ffffff;
    --btn-backtotop-bg: rgba(81, 85, 211, 0.747);
    --backtotop-icon-color: #ffffff;
    --footer-left-border: #ffffff;

    --theme-primary: #6466ec;
    --theme-primary-opacity: #5155d3be;
    --theme-secondary: #000000;
    --dark-primary: #000000;
    --light-primary: #ffffff;
    --gray-primary: #aaaaaa;
    --placeholder-light: #ffffff;
    --placeholder-dark: #000000;
    --hover-btn-primary: #2c3344d5;
}

.user-comment-image {
    width: auto;
    height: 6rem;
    max-height: 6rem;
    border-radius: 50%;
}

.btn-theme {
    border: none;
    background-color: var(--theme-primary);
    color: var(--light-primary);
    font-size: 1.4rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn-theme:hover {
    background-color: var(--theme-primary-opacity);
}

.comment-btn-approve {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--comment-checkmark-text-color);
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.comment-btn {
    height: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--comment-checkmark-text-color);
    cursor: pointer;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.comment-checkmark-text {
    font-size: 1.1rem;
    color: var(--comment-checkmark-text-color);
    line-height: 2.5rem;
    vertical-align: top;
    margin-right: 0.4rem;
}

.text-date-info {
    color: var(--theme-primary);
    margin-left: 0.5rem;
}





.range-space {
    flex-basis: 50%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.filter-price-space-text {
    font-size: 1rem;
    color: var(--dark-primary);
    position: relative;
    padding-top: 1rem;
}

.filter-price-sign {
    position: absolute;
    top: 0;
    left: 50%;
    height: 0.5rem;
    width: 0.1rem;
    background-color: var(--dark-primary);
}



.nav-profile {
    display: flex;
    flex-direction: column;
}

.nav-profile-title {
    font-size: 1.3rem;
    color: var(--theme-primary);
    display: block;
    margin-bottom: 1.5rem;
}

.profile-link {
    font-size: 1.2rem;
    color: var(--dark-primary);
    display: block;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 12%), 0px 0px 2px rgb(0 0 0 / 8%);
    margin-bottom: 0.5rem;
    cursor: pointer;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.profile-link:hover {
    background-color: var(--hover-btn-primary);
    color: var(--light-primary);
}

.profile-link-selected {
    background-color: var(--hover-btn-primary) !important;
    color: var(--light-primary) !important;
}

.password-row {
    position: relative;
}

.btn-password {
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

/* FOOTER SETTINGS */
footer {
    min-height: 5vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--footer-bg);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.footer-text {
    font-size: 1rem;
    color: var(--footer-text-color);
}

.btn-backtotop {
    z-index: 8890;
    position: fixed;
    bottom: 1rem;
    right: 0px;
    width: 3rem;
    height: 3rem;
    background-color: var(--btn-backtotop-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn-backtotop.active {
    right: 1rem !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.backtotop-icon {
    font-size: 2rem;
    color: var(--backtotop-icon-color);
}

@media only screen and (min-width: 576px) {

    /* GENERAL SETTINGS */
    html {
        font-size: 11px;
    }

    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media only screen and (min-width: 768px) {

    /* NAVBAR SETTINGS */
    .user-profile-mobile {
        display: none;
    }

    /* HEADER SETTINGS */
    .hamburger-toggler {
        width: 4rem;
        height: 4rem;
    }

    .hamburger-line {
        width: 3rem;
        height: 0.5rem;
    }

    .btn-header {
        height: 70%;
        margin-left: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .btn-header-text {
        margin-right: 1rem;
    }

    .user-profile {
        z-index: 8889;
        position: relative;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-profile-image {
        width: 3.5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .user-name {
        font-size: 1.3rem;
        color: var(--profile-menu-color);
    }

    .dropdown-profile-icon {
        font-size: 1.2rem;
        margin-left: 1rem;
        color: var(--profile-menu-color);
    }

    .dropdown-profile-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--profile-menu-bg);
        height: 0;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
    }

    .dropdown-profile-menu.active {
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    .dropdown-profile-link {
        font-size: 1.3rem;
        color: var(--profile-menu-color);
        display: block;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--profile-menu-color);
        -webkit-transition-property: background-color;
        -moz-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
    }

    .dropdown-profile-link:hover {
        background-color: var(--profile-menu-hover);
    }

    /* MAIN SETTINGS */
    .notification {
        max-width: 35%;
    }
}

@media only screen and (min-width: 992px) {

    /* GENERAL SETTINGS */
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-2 {
        flex-basis: 20%;
    }

    .col-3 {
        flex-basis: 24%;
    }

    .col-4 {
        flex-basis: 32%;
    }

    .col-5 {
        flex-basis: 38%;
    }

    .col-6 {
        flex-basis: 48%;
    }

    .col-7 {
        flex-basis: 58%;
    }

    .col-8 {
        flex-basis: 64%;
    }

    .col-9 {
        flex-basis: 72%;
    }

    .col-10 {
        flex-basis: 76%;
    }

    /* Loader Settings */
    .loader-brand {
        width: 130px;
        height: 130px;
    }

    .loader-circle {
        width: 140px;
        height: 140px;
    }

    @-webkit-keyframes loading {
        100% {
            width: 25rem;
            height: 25rem;
        }
    }

    @-moz-keyframes loading {
        100% {
            width: 25rem;
            height: 25rem;
        }
    }

    @-o-keyframes loading {
        100% {
            width: 25rem;
            height: 25rem;
        }
    }

    @keyframes loading {
        100% {
            width: 25rem;
            height: 25rem;
        }
    }


    /* NAVBAR SETTINGS */
    .navbar-default {
        left: 0;
        width: 18%;
    }

    .navbar-default.toggler-active {
        left: -18% !important;
    }

    .navbar-mobile-close-toggler,
    .navbar-mobile-toggler {
        display: none;
    }

    /* ADMIN PANEL SETTINGS */
    .admin-panel {
        z-index: 8888;
    }

    .admin-panel-default {
        left: 18%;
        width: 82%;
    }

    .admin-panel-default.toggler-active {
        display: block;
        left: 0% !important;
        width: 100% !important;
    }

    /* HEADER SETTINGS */
    .navbar-desktop-toggler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 1200px) {

    /* GENERAL SETTINGS */
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1650px) {

    /* GENERAL SETTINGS */
    html {
        font-size: 14px;
    }

    /* Loader Settings */
    .loader-brand {
        width: 210px;
        height: 210px;
    }

    .loader-circle {
        border-width: 4px;
        width: 220px;
        height: 220px;
    }

    @-webkit-keyframes loading {
        100% {
            width: 30rem;
            height: 30rem;
        }
    }

    @-moz-keyframes loading {
        100% {
            width: 30rem;
            height: 30rem;
        }
    }

    @-o-keyframes loading {
        100% {
            width: 30rem;
            height: 30rem;
        }
    }

    @keyframes loading {
        100% {
            width: 30rem;
            height: 30rem;
        }
    }
}

@media only screen and (min-width: 2000px) {

    /* GENERAL SETTINGS */
    html {
        font-size: 17px;
    }
}

@media only screen and (min-width: 2400px) {

    /* GENERAL SETTINGS */
    html {
        font-size: 20px;
    }
}

/* .btn-disable {
    display: inline-block;
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--danger);
    color: var(--light-primary);
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} */

/* ::placeholder {
    font-size: 1.2rem;
    color: var(--placeholder-dark);
    opacity: 0.4;
}

.input-table-search::placeholder {
    font-size: 1.2rem;
    color: var(--placeholder-light);
    opacity: 0.4;
}

 */

.fa-plus,
.fa-info,
.fa-undo-alt,
.fa-download,
.fa-file-upload {
    font-size: 1.2rem;
    color: var(--light-primary);
}